.form {
	margin: 25px auto;
}
.main {
	border: none;
	width: 600px;
	box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, .1);
}
.main,
.red {
	background-color: #ff6666;
	color: #fff;
	transition: all ease 2s;
}
.red {
	background-color: none;
	border-color: #fff;
}
body {
	background: #c2e59c; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#64b3f4,
		#c2e59c
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#64b3f4,
		#c2e59c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.todo {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}
.list-group {
	min-height: 200px;
}
.width {
	width: 360px;
}
.label-new {
	font-size: 1.5em;
	display: flex;
	justify-content: center;
}
hr {
	overflow: visible; /* For IE */
	height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
	border-radius: 20px;
	opacity: 0.2;
}
hr:before {
	/* Not really supposed to work, but does */
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-color: black;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}

.strike {
	position: relative;
}

.strike::after {
	content: "";
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;
	animation-name: strike;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes strike {
	0% {
		width: 0;
	}
	50% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
.display {
	display: none;
}
.inline {
	display: inline;
}
.text {
	border: none;
	background-color: inherit;
	font-size: 16px;
	cursor: pointer;
	/* display: inline-block; */
}
.time-up {
	background-color: #000;
	color: #fff;
}
#container {
	width: 500px;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.01);
	background-color: #f7f7f7;
	padding: 0;
}
.list {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 0;
}
.list-item {
	line-height: 40px;
	background-color: #fff;
	color: #666;
	margin: 0;
}
.list-item:hover button {
	display: inline;
}
.list-item:hover a {
	display: inline;
}
.list-item:hover .finish {
	display: inline;
}
.list-item:hover .time {
	display: none !important;
}
.time-up {
	background-color: #000;
	color: #fff;
}
.list-item:not(:last-child) {
	border-bottom: 1px solid #000;
}
